SECRET_KEY=
DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

LOCATION=

TELEGRAM_URL=https://api.telegram.org/bot
TELEGRAM_TOKEN=7752170893:AAExR15FZuqhxfZroBU6Zi3iGnjnTk3MD2s